doctype html
html

  head
    title GIS Crime Statistics

    link(rel='stylesheet', href='/stylesheets/uikit.min.css')

    script(src='/javascripts/jquery-2.1.3.min.js')

    script(src='/javascripts/uikit.min.js')
    // Tooltip CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/tooltip.min.css')
    // Tooltip Javascript
    script(src='/javascripts/tooltip.min.js')

    link(rel='stylesheet', href='/stylesheets/uikit.min.css')

    link(rel='stylesheet', href='/stylesheets/leaflet.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/uibangalore.css')

  body
    nav(class="uk-navbar" id="primaryNav" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', target:'a', delay:100}")
      a(class="uk-navbar-brand" href='/')
        strong
          font(size='5') GIS Crime Statistics
      ul(class="uk-navbar-nav" style="float:right" )
        block icon
        li(class="uk-navbar-nav"): a(href='/about')
          b about
        li(class="uk-navbar-nav"): a(href='/sign')
          b sign in
    hr
    .uk-grid
      .uk-width-medium-1-2
        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Problem

        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Goal
          | The goal of the project is to design a map based interface to observe trends in the under-reporting of certain crimes.
          | The intention is that the police can then use this information to improve their formal reporting process, which will in turn make law enforcement more eﬀective.
          | Our tool will allow users to switch on layers to compare reported and crowd sources crimes. Users can ﬁlter out data by crime or by time period etc
        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Data Sources
          table.uk-table
            thead
            tbody
              tr
                td
                  a(href='http://openbangalore.org/available-data/', target='_blank') Open Bangalore
              tr
        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Team
          table.uk-table.uk-text-center
            tbody.uk-text-left
              tr
                td
                  a( target='_blank') Anisha Nazareth
                td
                  a( target='_blank') Chandan Yeshwanth
                td
                  a( target='_blank') Rahul Ghosh
              tr
                td
                  a( target='_blank') Yashvanth Mohan Kondi

