doctype html
html
    head
        title= "GIS Crime Statictics"
        link(async rel='stylesheet', href='/stylesheets/uikit.min.css')
        link(rel='stylesheet', href='/stylesheets/leaflet.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/uibangalore.css')
        //script(src='/javascripts/jquery-2.1.3.min.js')
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='/javascripts/uikit.min.js')
    body
        nav(class="uk-navbar" id="primaryNav" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', target:'a', delay:100}")
            a(class="uk-navbar-brand" href='/map')
                strong
                    font(size='5') GIS Crime Statistics
            ul(class="uk-navbar-nav" style="float:right;" )
                block icon
                li(class="uk-navbar-nav"): a(href='/about')
                    b about
                li(class="uk-navbar-nav"): a(href='/about')
                    b database
                block username
    hr
    block scripts
    block content
    block map
    block scripts2
