//
   Created by anisha on 29/4/16.

html
   head
      title Record a Crime
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script.
         $(document).ready(function(){
            var type, time, details;
            var d = new Date($.now());
            var url = window.location.pathname.split("/")
            var lat=url[2];
            var long=url[3];
            $("#time").val(d.toUTCString());
            $("#submit").click(function(){
               type=$("#type").val();
               time =$('#time').val();
               details = $('#details').val();
               $.post("http://localhost:3000/record/:lat/:long",{lat: lat,long: long, time:time, type:type, details:details}, function(data){
                  window.location = '/thankyou'
                  if(data==='done')
                  {
                     alert("passed");
                  }
               });
            });
         });
   body
      div(id="form")
         div(id="question" style="width:30%;float:left")
            p
               font(size=3, color='grey') Type of Crime
            br
            br
            br
            br
            p
               font(size=3, color='grey') Time
            br
            br
            br
            br
            p
               font(size=3, color='grey') Location
            br
            br
            br
            br
            p
               font(size=3, color='grey') Details
         div(id="answers" style="width:70%;float:left")
            br
            select(id="type")
               option(value='Crime1') Crimes against women
               option(value='Crime2') Robbery
               option(value='Crime3') Petty Thievery
               option(value='Crime4') Assault
               option(value='Crime5') Negligence
               option(value='Crime6') Automobile
            br
            br
            br
            br
            br
            br
            input#time(type='text', style="color:gray" )
            br
            br
            br
            br
            br
            br
            input#location(type='text', value="Your Location", readonly='readOnly' , style="color:gray")
            br
            br
            br
            br
            br
            br
            textarea#details.wmd-input.processed(name='details', cols='36', rows='15', tabindex='101', data-min-length='')
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
      div(id="button", style="float:right;float:bottom; padding-bottom:1cm; padding-right:1cm")
         input#submit(class="btnpop",type='button', value='Submit', style='color:white; background-color:#9900cc')