doctype html
html
   head
      meta(charset='UTF-8')
      title Log-in
      link(rel='stylesheet', href='http://codepen.io/assets/libs/fullpage/jquery-ui.css')
      link(rel='stylesheet', href='/stylesheets/login.css', media='screen', type='text/css')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script.
         $(document).ready(function() {
            var user, pass;
            $("#login").click(function () {
               user = $("#user").val();
               pass = $('#pass').val();
               $.post("http://localhost:3000/sign/", {user: user, pass: pass}, function (data) {
                   window.location = data.url;
                      if (data === 'done') {
                         alert("passed");
                      }
               });
            });
         });
   body
      .login-card
         h1
         br
         form
            input(type='text', id='user', placeholder='Username')
            input(type='password', id='pass', placeholder='Password')
            div(id="button", style="float:right;float:bottom; padding-bottom:1cm; padding-right:1cm")
               input#login(class="btnpop",type='button', value='Submit', style='color:white; background-color:#9900cc')
         .login-help
            a(href='/sign/forgot') Forgot Password
      // <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div>
      script(src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js')
