//
   Created by anisha on 4/5/16.

html
   head
      title= "GIS Crime Statictics"


      link(async rel='stylesheet', href='/stylesheets/uikit.min.css')
      link(rel='stylesheet', href='/stylesheets/leaflet.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/uibangalore.css')

      //script(src='/javascripts/jquery-2.1.3.min.js')
      script(src='https://code.jquery.com/jquery-2.1.4.min.js')
      script(src='/javascripts/uikit.min.js')

   body

      p
         font(color=grey, size=3) Thank you for recording your response